:root {
  --boxBackground: #eeeeee;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Karma", serif;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header .title {
  font-size: x-large;
  font-weight: 300;
  width: 50%;
}
.header .title h3 {
  width: 100%;
  padding: 20px 0px;
  font-size: x-large;
  font-weight: 300;
  color: #919177;
  border-bottom: 2px solid #eeeeee;
}
.form {
  padding-top: 70px;
  padding-bottom: 50px;
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--boxBackground);
  align-items: center;
  border-radius: 10px;
}
.form .title {
  width: 50%;
  text-align: center;
}
.form .myForm {
  padding-top: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .myForm span {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  margin: 10px 0px;
}
.form .myForm .input {
  width: 70%;
}
.form .myForm .input input {
  width: 100%;
  height: 30px;
  border: 0px solid #eeeeee;
  border-radius: 5px;
  padding: 10px;
}
.form .myForm .button {
  width: 70px;
  height: 45px;
}
.form .myForm .button input {
  cursor: pointer;
  margin-top: 25px;
  color: white;
  width: 100%;
  height: 100%;
  background-color: #337ab7;
  border-width: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #337ab7;
}
.form .myForm .button input:hover {
  color: white;
  background-color: #225d91;
}
.toggle-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.toggle-container .toggle i {
  font-size: xx-large;
  opacity: 0.5;
}
.toggle-container .toggle i:hover {
  opacity: 1;
}
.toggle-container .toggle {
  transition: all 0.4s;
}
.toggle-container .hide {
  transition: all 0.4s;
  transform: rotate(180deg);
}
.bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.close {
  display: none;
}

.bookmark-container .bookMark {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px;
  width: 50%;
  height: 80px;
  border-radius: 6px;
  border: 2px solid #d1d1d1;
  background-color: #eeeeee;
}
.bookmark-container .bookMark .title {
  margin: 0px 10px;
}
.bookmark-container .bookMark .btn-visit button {
  cursor: pointer;
  margin: 0px 10px;
  background-color: white;
  border: 2px solid #d1d1d1;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  color: #525252;
}
.bookmark-container .bookMark .btn-visit button:hover {
  background-color: rgb(216, 216, 216);
}
.bookmark-container .bookMark .btn-remove button {
  cursor: pointer;
  margin: 0px 10px;
  background-color: #d9534f;
  border: 2px solid #d1d1d1;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  color: white;
}
.bookmark-container .bookMark .btn-remove button:hover {
  background-color: #da2019;
}
.footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .developer {
  width: 50%;
}
.footer .developer p {
  width: 100%;
  border-width: 2px;
  border-top: 2px solid #eeeeee;
  color: #979797;
  padding-top: 20px;
}
