.container {
}
.title {
  color: white;
  font-weight: normal;
  display: inline-block;
  position: relative;
  left: 20px;
  font-family: "Poppins", sans-serif;
}
box-icon[name="download"] {
  cursor: pointer;
  position: absolute;
  right: 20px;
}
box-icon[name="bookmark"] {
  cursor: pointer;
  position: absolute;
  right: 50px;
}
