.drop_item {
  padding: 5px;
  color: black;
  background-color: #e0e0e0;
  margin-top: 2px;
  border-radius: 5px;
}
.drop_item:focus,
.drop_item:hover .drop_item {
  /* border-radius: 5px; */
  /* background-color: red; */
  /* color: white; */
}
.active {
  padding: 5px;
  margin-top: 2px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
