* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: 100px auto;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) -5px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.form-container {
  position: absolute;
  border: 2px solid blue;
  background-color: white;
  width: 50%;
  height: 100%;
  text-align: center;
}
.form-container h2 {
  cursor: context-menu;
  margin-top: 20%;
  font-size: xx-large;
}
.form-container .social-pic {
  margin: 10px 0;
}
.form-container .social-pic i {
  font-size: x-large;
  border-radius: 50%;
  margin-left: 5px;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 1px solid rgba(136, 136, 136, 0.3);
}
.form-container .social-pic i:hover {
  cursor: pointer;
  background-color: rgb(206, 206, 206);
}
.form-container p {
  cursor: context-menu;
  font-size: smaller;
  color: #696969;
}
.form-container p.forgot-password:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.form-container form input {
  display: block;
  width: 70%;
  height: 35px;
  padding-left: 5px;
  background-color: #eeeeee;
  margin: 15px auto;
  border: 1px solid #eeeeee;
}
.form-container input[type="submit"] {
  width: 30%;
  border-radius: 30px;
  color: white;
  border-width: 0px;
  background-color: #fe4a2a;
}
.form-container input[type="submit"]:hover {
  background-color: #d8381c;
  cursor: pointer;
}
.overlays {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(255, 74, 46);
  background: linear-gradient(
    48deg,
    rgba(255, 74, 46, 1) 0%,
    rgba(255, 65, 101, 1) 100%
  );
}
.overlay-container {
  position: absolute;
  border: 2px solid blue;
  width: 50%;
  height: 100%;
  text-align: center;
  padding-top: 20%;
}
.overlay-container h2 {
  cursor: context-menu;
  margin-bottom: 30px;
  color: white;
}
.overlay-container p {
  cursor: context-menu;
  padding: 0px 40px;
  margin-bottom: 30px;
  color: white;
}
.overlay-container button {
  width: 30%;
  height: 30px;
  border-radius: 30px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}
.panel-right button:hover {
  background-color: rgb(255, 34, 0);
}
.panel-left button:hover {
  background-color: rgb(245, 40, 78);
}
.panel-right {
  display: none;
}
.panel-left {
  transition: all 0.5s;
  left: 0;
  background-color: red;
  z-index: 4;
}
.signup-container {
  right: 3;
  z-index: 2;
}
.signin-container {
  z-index: 1;
  z-index: 2;
}
.right-active-container .panel-left {
  background-color: red;
  transform: translateX(100%);
  transition: all 0.5s;
}
.right-active-container .signup-container {
}
