* {
}
.contaienr {
  padding: 20px;
  width: 35%;
  background-color: rgba(38, 226, 21, 0.39);
  margin: 200px auto;
  border-radius: 10px;
  border: 2px solid green;
}
.content {

  text-indent: 10px;
  color: rgb(66, 66, 66);
  cursor: context-menu;
}
