* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
button {
  font-family: "Cabin", sans-serif;
}
body {
  background-image: linear-gradient(
    -225deg,
    #ff057c 0%,
    #8d0b93 50%,
    #321575 100%
  );
  background-repeat: no-repeat;
}
.container {
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 40px 40px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  margin: 100px auto;
  width: 50%;
  min-height: 70%;
  flex-direction: column;
}
.container .title {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.container .title h1 {
  font-weight: lighter;
}
.container .error {
  text-align: center;
  width: 100%;
}
.container .error span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px auto;
  display: none;
  color: red;
  width: 30%;
  font-weight: 300;
}
.container .form {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.container .form input[type="text"] {
  width: 60%;
  padding-left: 10px;
  border-radius: 5px;
  height: 35px;
  font-size: medium;
  outline-color: blue;
  color: black;
  font-weight: bold;
  border: 2px solid rgb(203, 205, 206);
}
.container .form input[type="text"]:focus {
  background-color: rgba(223, 223, 223, 0.733);
}
.container .form input[type="submit"] {
  border-radius: 5px;
  border: 0px;
  background-color: rgb(145, 173, 226);
  color: white;
  width: 10%;
  height: 33px;
}
.container .form input[type="submit"]:hover {
  cursor: pointer;
  background-color: blue;
  transition: all 0.5s;
}
.container .img {
  display: none;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}
.container .img i {
  width: 100%;
  font-size: 200px;
}
.container .list {
  margin-top: 10px;
  padding: 10px 15%;
  height: 100%;
}
.container .list li {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 2px rgb(190, 190, 190);
}
.container .list li h3 {
  /* border: 2px solid red; */

  cursor: context-menu;
  width: 80%;
  min-width: 30%;
  height: 30px;
}
.container .list li .buttons {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}
.container .list li .buttons i {
  font-size: large;
  cursor: pointer;
}
.container .list li .buttons i.bxs-edit {
  color: #72ef07;
}
.container .list li .buttons i.bxs-edit:hover {
  color: green;
}
.container .list li .buttons i.bxs-trash-alt {
  color: #ff0000;
}
.container .list li .buttons i.bxs-trash-alt:hover {
  color: rgb(185, 3, 3);
}
.container .list li .buttons i.bx-move {
  color: #bdbdbd;
}
.container .list li .buttons i.bx-move:hover {
  color: black;
  cursor: grab;
}
.container .list li .buttons i.bx-move:active {
  color: black;
  cursor: grabbing;
}
.container .clear {
  width: 100%;
  /* margin-bottom: 20px; */
}
.container .clear h2 {
  width: 50%;
  text-align: center;
  color: red;
  font-size: medium;
  letter-spacing: 5px;
  font-weight: lighter;
  margin: 20px auto;
}
.container .clear h2:hover {
  cursor: pointer;
  color: rgb(146, 5, 5);
}
@media screen and (max-width: 450px) {
  .container {
    width: 80%;
    min-width: 0px;
    display: flex;
  }
  .container .list li .buttons {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  .container .title h1 {
    font-size: large;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .container .error {
    text-align: center;
    width: 100%;
  }
  .container .error span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px auto;
    display: none;
    color: red;
    width: 80%;
    font-weight: 300;
  }
  .container .form input[type="submit"] {
    width: fit-content;
    background-color: blue;
  }
  .container .list li .buttons i {
    margin-top: 5px;
  }
  .container .list li .buttons i.bxs-edit:hover {
    color: #72ef07;
  }
  .container .list li .buttons i.bxs-trash-alt:hover {
    color: #ff0000;
  }
  .container .list li .buttons i.bx-move:hover {
    color: #bdbdbd;
    cursor: move;
  }
}
