* {
  font-family: "karma", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "karma", sans-serif;
}
.header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
}
.header .header-container {
  display: flex;
  padding: 0 10px;
  height: 80px;
  position: fixed;
  background-color: white;
  align-items: center;
  width: 100%;
  z-index: 1;
  justify-content: space-around;
}
.mail {
  font-size: x-large;
}
.title {
  font-size: x-large;
}
.img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
}
.img i {
  font-size: 30px;
}
.header .header-container .img:hover {
  background: #bfbfbf;
}
.sidebar {
  position: fixed;
  background-color: white;
  width: 40%;
  height: 100%;
  z-index: 2;
  left: -40%;
  box-shadow: 1px 0px 10px #cdcdcd;
  transition: all 0.25s;
}
.sidebar li {
  cursor: pointer;
  color: black;
  font-size: x-large;
  font-weight: normal;
  text-align: start;
  padding: 20px;
}
.sidebar li:hover {
  background-color: #cdcdcd;
}
.active {
  left: 0%;
}
.posts-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 50px;
  justify-content: center;
}
.post {
  width: 300px;
  margin-bottom: 5px;
  padding: 0 5px;
}
.post-image {
  padding: 5px;
}
.post-image img {
  max-width: 100%;
}
.post-title {
  font-size: 23px;
  text-align: center;
  padding: 2px;
}
.post-text {
  font-size: 16px;
  text-align: center;
  padding: 4px;
}
.page-selector {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
}
.btn {
  display: flex;
  width: 30px;
  height: 30px;
}
.btn:hover {
  background: black;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}
a:focus {
  background: black;
}
.arrow a:focus {
  background-color: white;
  color: black;
}
a {
  padding-top: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  width: 100%;
  height: 100%;
}
hr {
  margin: 50px 200px;
  color: #eeeeee;
  opacity: 50%;
}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe .title {
  margin: 0px 0px 50px 0px;
}
.aboutMe .img {
  width: 50%;
}
.aboutMe img {
  width: 100%;
}
.aboutMe h4 {
  font-size: large;
  margin: 30px 0;
  margin-bottom: 10px;
}
.aboutMe h6 {
  font-size: small;
  font-weight: lighter;
  margin-bottom: 40px;
  font-style: italic;
}
.aboutMe p {
  text-align: center;
  margin: 0 200px;
}
.aboutMe-hr {
  margin: 100px 200px;
  color: #eeeeee;
  opacity: 50%;
  z-index: 0;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}
.footer-details {
  justify-content: flex-start;
  width: 400px;
}
.footer-details h3 {
  font-size: x-large;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-details a,
.footer-details a:hover,
.footer-details a:focus {
  color: black;
  background-color: unset;
  text-decoration: underline;
}
.blog-posts {
  width: 400;
}
.popular-tags {
  justify-content: flex-start;
  width: 400px;
}
.popular-tags h3 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: x-large;
  margin-bottom: 10px;
}
.blog-posts h3 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: x-large;
  margin-bottom: 10px;
}
.blog-posts img {
  width: 60px;
  height: 60px;
}
.blog-posts li {
  display: flex;
  padding: 15px;
  align-items: center;
}
.blog-posts li.first {
  border-bottom: 1px solid #cdcdcd;
}
.blog-posts li:hover {
  background-color: #cdcdcd;
}
.blog-posts li p {
  padding-left: 10px;
}
.popular-tags span {
  background-color: #616161;
  color: white;
  font-size: 13px;
  margin-left: 5px;
  padding: 0px 2px;
}
.popular-tags span.active {
  background-color: black;
}
.popular-tags p {
  padding: 0px 10px;
  line-height: 30px;
}
