a {
  text-decoration: none;
}
.container {
  width: 100%;
  background-color: rgb(175, 0, 0);
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.logo {
  white-space: nowrap;
  width: 20%;
  color: white;
  cursor: context-menu;
  position: relative;
  right: 100px;
}
nav {
  width: fit-content;
}
nav li {
  margin-left: 30px;
  list-style-type: none;
  /* display: inline-block; */
}
li a {
  color: white;
  font-size: large;
}
li a:hover {
  color: #d1cfcf;
}
@media only screen and (max-width: 450px) {
  .container {
    text-align: center;

    display: block;
  }
  .logo {
    text-align: center;
    display: block;
    width: 100%;
    position: static;
  }
  nav {
    text-align: center;
    margin: 10px auto;
  }
  nav li {
    display: block;
    margin: 0px;
  }
}
